@import "tailwindcss";

@theme {
    --font-serif: serif;
    --animate-blink: blink 1.2s ease-in infinite;
    --animate-complete: complete 1s ease-in-out forwards;
    --animate-transition1: transition1 0.3s ease-in-out forwards;
    --animate-transition1-r: transition1 0.3s ease-in-out reverse forwards;
    @keyframes blink {
        25%,
        75% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    @keyframes complete {
        0% {
            opacity: 0.5;
            width: 1%;
        }
        50% {
            opacity: 0.5;
            width: 100%;
        }
        100% {
            opacity: 0;
            width: 100%;
        }
    }
    @keyframes transition1 {
        0% {
            max-width: 0px;
            opacity: 0;
        }
        100% {
            max-width: 100px;
            opacity: 1;
        }
    }
}
